@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>Misc.</title>
</head>

<body>
    <h1>Misc.</h1>

    <label for="email">Email:</label>
    <input id="email" type="text" placeholder="Email@gmail.com">
    <br>

    <label for="date">Date:</label>
    <input id="date" type="date">
    <br>

    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" min="0" max="9">
    <br>

    <label for="selection">Drop down options:</label>
    <select id="selection">
        <option value="optionA">Option A</option>
        <option value="optionB">Option B</option>
        <option value="optionC">Option C</option>
        <option value="optionD">Option D</option>
    </select>
    <br>

    <label for="checker">Check Box:</label>
    <input id="checker" type="checkbox">
    <br>

    <label for="comment">Comment:</label>
    <textarea id="comment" rows="3" cols="25"></textarea>
    <br>

    <label for="file">File:</label>
    <input id="file" type="file" accept="image/png, image/jpeg">
    <br>
</body>