
@{
    ViewData["Title"] = "Index";
}

@model LoginModel

<head>
    <title>Login Page</title>
</head>

<body class="bg-gradient-success">
    <h1>Login</h1>
    <div>
        <form asp-action="Index" asp-controller="Login">
            <div class="form-group">
                <label for="username" asp-for="LoginId">Username:</label>
                <input id="username" asp-for="LoginId" type="text" placeholder="Account1230">
                <span asp-validation-for="LoginId" class="text-danger"></span>
            </div>
            
            <br>

            <div class="form-group">
                <label for="password" asp-for="Password">Password:</label>
                <input id="password" asp-for="Password" type="password" placeholder="Vip1230">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <br>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Login">
            </div>

            <input type="reset" class="btn btn-danger">

        </form>
    </div>
</body>